h1{
    color: black;
    font-size: 100px;
    text-align: center;
}

h2{
    font-size:30px;
    text-align: center;


}

a {  font-size: 30px;
    text-decoration-line: none;
    color: black;
}
.name{
    color: gray;
}

ol{
    font-size:30px
    
}


