*{ margin: 0;
    font-family: 'Nanum Gothic Coding', monospace;
}

   
header{

    color:black;
    font-size: 70px;
    text-align: center;
    border:1px solid black;
    

    /* line-height: 100px; */
}

.subtitle{
    font-size:50px;    
    text-align:center;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 51px;
    display: block

}

a {font-size:80px;
    text-decoration: none;
}


a.menu{ font-size: 40px;
    text-decoration-line: none;
    color:black;
   
}

.background{ 

    font-size: 20px;
}

.me5{
    color: black;
    font-size: 50px;
 
}



/* 구글검색결과: a 태그는 inline 요소라 text-align 이 적용되지 않습니다. 
그래서 a 태그를 div 태그로 감싸서 block요소로 만든 후 
div에 가운데 정렬 시킬 클래스를 따로 정의하시면 됩니다 */

.name{
    color:brown;
    text-decoration-line: none;
    font-size: 30px;
}

  .container{

    display: flex;
    justify-content: space-around;
    border-bottom:1px solid black;
  }

  
#m:hover{font-size: 50px;
    transform: 0.4s;
    color: darkblue;
}



#background0{

    width:100px;
    background: crimson;
}
#background1{
    width:10px;
    background: palegreen;
    opacity: 0.8;
}

#background2{
    
    width:10px;
    background: yellow;
    opacity: 0.8;
}

#background3{
    
    width:10px;
    background: green;
    opacity: 0.8;
}
#background4{
    
    width:10px;
    background: green;
    opacity: 0.8;
}
#background5{
    
    width:10px;
    background: green;
    opacity: 0.8;
}









#background0:hover{

    width:1000px;
    background: crimson;
    transition: 1s;
    
}


#background1:hover{
    
    width:100px;
    background: palegreen;
    transition: 1s;
    
}

#background2:hover{
    
    width:100px;
    background: yellow;
    transition: 1s;
}

#background3:hover{
    
    width:100px;
    background: green;
    transition: 1s;
}

#background4:hover{
    
    width:100px;
    background: green;
    transition: 1s;
}
#background5:hover{
    
    width:100px;
    background: green;
    transition: 1s;
}
 
  
  .video-player-info {
    background-color: #fff;
    padding: 8px 10px 10px;
    border: 1px solid black;
    width:450; 
    height:auto;
  }
  
  .video-player-info h1 {
    margin-bottom: 2px;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #383838;
  }
  
  .video-player-info p {
    font-size: 13px;
    letter-spacing: -0.03em;
    color: #8e8e93;
  }

  ul{
     list-style: none;
  }